<a href="/users/<%= @user.id %>">Return to Dashboard</a>

<h1>Edit Your Profile</h1>

<form action="/profiles/<%= @user.id%>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch" />

  <label>Height:</label><br>
  <label>Feet:</label>
  <select name="profile[height_feet]">
    <option value="<%= @profile.height_feet%>">--</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
  </select>
  <label>Inches:</label>
  <select name="profile[height_inches]">
    <option value="<%= @profile.height_inches%>">--</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>
  <br>
  <label>Body Type:</label><br>
  <select name="profile[body_type]">
    <option value="<%= @profile.body_type%>">--</option>
    <option value="slender">slender</option>
    <option value="average">average</option>
    <option value="athletic">athletic/toned</option>
    <option value="heavyset">heavyset</option>
  </select><br>
  <label>Relationship Status:</label><br>
  <select name="profile[status]">
    <option value="<%= @profile.status%>">--</option>
    <option value="never married">never married</option>
    <option value="separated">currently separated</option>
    <option value="divorced">divorced</option>
    <option value="widow">widow/widower</option>
  </select><br>
  <label>Do You Have Kids?</label><br>
  <select name="profile[has_kids]">
    <option value="<%= @profile.has_kids%>">--</option>
    <option value="no">No</option>
    <option value="yes, but they live away">Yes, but they live away from home</option>
    <option value="yes, sometimes live at home">Yes, sometimes live at home</option>
    <option value="yes, and they live at home">Yes, and they live at home</option>
  </select><br>
  <label>Do You Want Kids?</label><br>
  <select name="profile[wants_kids]">
    <option value="<%= @profile.wants_kids%>">--</option>
    <option value="No">No</option>
    <option value="Definitely">Definitely</option>
    <option value="Someday">Someday</option>
  </select><br>
  <label>Highest Level of Education:</label><br>
  <select name="profile[education]">
    <option value="<%= @profile.education%>">--</option>
    <option value="high school or GED">high school or GED</option>
    <option value="some college">some college</option>
    <option value="Associate's degree">Associate's degree</option>
    <option value="Bachelor's degree">Bachelor's degree</option>
    <option value="Master's degree">Master's degree</option>
    <option value="PhD or other doctoratal degree">PhD or other doctoral degree</option>
  </select><br>
  <label>Do You Smoke?</label><br>
  <select name="profile[smoking]">
    <option value="<%= @profile.smoking%>">--</option>
    <option value="No">No</option>
    <option value="Yes, occasionally">Yes, occasionally</option>
    <option value="Yes, daily">Yes, daily</option>
    <option value="Yes, but I'm trying to quit">Yes, but I'm trying to quit</option>
  </select><br>
  <label>Do You Drink?</label><br>
  <select name="profile[drinking]">
    <option value="<%= @profile.drinking%>">--</option>
    <option value="no">Never</option>
    <option value="Yes, socially">Yes, socially</option>
    <option value="Yes, moderately">Yes, moderately</option>
    <option value="Yes, regularly">Yes, regularly</option>
  </select><br>
  <label>Your Ethnicity</label><br>
    <p><i>Please select a button again... for consistency!</i></p>
    <input type="radio" name="profile[ethnicity]" value="White/Caucasian" <%= if (4 == 3) then "checked='checked'" end %> > White/Caucasian
    <input type="radio" name="profile[ethnicity]" value="Black/African-American"> Black/African-American
    <input type="radio" name="profile[ethnicity]" value="Latino/Hispanic"> Latino/Hispanic
    <input type="radio" name="profile[ethnicity]" value="Asian/Asian-American"> Asian/Asian-American <br>
    <input type="radio" name="profile[ethnicity]" value="Native American"> Native American
    <input type="radio" name="profile[ethnicity]" value="Middle Eastern"> Middle Eastern
    <input type="radio" name="profile[ethnicity]" value="Pacific Islander"> Pacific Islander <br>
    <input type="radio" name="profile[ethnicity]" value="East Indian"> East Indian
    <input type="radio" name="profile[ethnicity]" value="Other"> Other
    <input type="radio" name="profile[ethnicity]" value="No Answer"> I'd rather not say... <br>
  <label>Religion:</label><br>
      <p><i>Please select a button again... for consistency!</i></p>
      <input type="radio" name="profile[religion]" value="Christian-other"> Christian-other
      <input type="radio" name="profile[religion]" value="Christian-Catholic"> Christian-Catholic
      <input type="radio" name="profile[religion]" value="Christian-protestant"> Christian-protestant
      <input type="radio" name="profile[religion]" value="Christian-LDS"> Christian-LDS <br>
      <input type="radio" name="profile[religion]" value="Muslim/Islam"> Muslim/Islam
      <input type="radio" name="profile[religion]" value="Spiritual but not religious"> Spiritual, but not religious
      <input type="radio" name="profile[religion]" value="Jewish"> Jewish
      <input type="radio" name="profile[religion]" value="Buddist/Taoist"> Buddist/Taoist <br>
      <input type="radio" name="profile[religion]" value="Hindu"> Hindu
      <input type="radio" name="profile[religion]" value="Adventist"> Adventist
      <input type="radio" name="profile[religion]" value="Athiest"> Atheist
      <input type="radio" name="profile[religion]" value="other"> Other
  </select><br>
  <label>Current Salary Range:</label><br>
  <select name="profile[salary]">
    <option value="<%= @profile.salary%>">--</option>
    <option value="$25,000 or below">$25,000 or below</option>
    <option value="$26,000-$50,000">$26,000-$50,000 per year</option>
    <option value="$51,000-$99,000">$51,000-$99,000 per year</option>
    <option value="$100,000-$125,000">$100,000-$125,000 per year</option>
    <option value="$126,000 or more">$126,000 per year or above</option>
  </select>
  <br>
  <br>
  <h3><i>Make sure to update these fields or they will be deleted!</i></h3>
  <label>Interests:</label><br>
  <textarea name="profile[interests]" placeholder="<%= @profile.interests %>"></textarea><br>
  <label>Looking for Something Specific?</label><br>
  <textarea name="profile[specifications]" placeholder="<%= @profile.specifications %>"></textarea><br>
  <label>Essay About Yourself:</label><br>
  <textarea name="profile[essay]" placeholder="<%= @profile.essay %>"></textarea><br>

  <% ['a', 'b', 'c'].each do |char| %>
    <p><%= char %></p>
  <% end %>
  <label>Update your profile picture:</label><br>
  <input type="file" name="image" accept="image/*"><br>

  <input type="submit" value="Update">
</form>
