<div class="row">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <hr>
  <div class="col-md-3">
    <%= form_for @profile, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <%= f.label "Height:" %>

        <%= f.select :height, options_for_select([["4'8\"", 4.08], ["4'9\"", 4.09], ["4'10\"", 4.10], ["4'11\"", 4.11], ["5'0\"", 5.00], ["5'1\"", 5.01], ["5'2\"", 5.02], ["5'3\"", 5.03], ["5'4\"", 5.04], ["5'5\"", 5.05], ["5'6\"", 5.06], ["5'7\"", 5.07], ["5'8\"", 5.08], ["5'9\"", 5.09], ["5'10\"", 5.10], ["5'11\"", 5.11], ["6'0\"", 6.00], ["6'1\"", 6.01], ["6'2\"", 6.02], ["6'3\"", 6.03], ["6'4\"", 6.04], ["6'5\"", 6.05], ["6'6\"", 6.06], ["6'7\"", 6.07], ["6'8\"", 6.08], ["6'9\"", 6.09], ["6'10\"", 6.10]]), {}, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Body Type:" %>
        <%= f.select :body_type, options_for_select(Choices['body_type']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Relationship Status:" %>
        <%= f.select :status, options_for_select(Choices['relationship_status']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Do you have kids?" %>
        <%= f.select :has_kids, options_for_select(Choices['has_kids']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Do you want kids?" %> <br>
        <%= f.select :wants_kids, options_for_select(Choices['wants_kids']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Highest level of education:" %>
        <%= f.select :education, options_for_select(Choices['education']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Are you a smoker?" %>
        <%= f.select :smoking, options_for_select(Choices['is_smoker']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Are you a drinker?" %>
        <%= f.select :drinking, options_for_select(Choices['is_drinker']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Current Salary:" %>
        <%= f.select :salary, options_for_select(Choices['salary_range']), {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
          <%= f.label "Ethnicity:" %><br />
          <%= f.collection_check_boxes :ethnicity_ids, Ethnicity.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
      </div>
      <div class="form-group">
        <%= f.label "Religion:" %><br />
        <%= f.collection_check_boxes :religion_ids, Religion.all, :id, :name do |c| %>
      <div class="collection-check-box">
        <%= c.check_box %>
        <%= c.label %>
      </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label "Interests:" %><br />
        <%= f.collection_check_boxes :interest_ids, Interest.all, :id, :name do |d| %>
      <div class="collection-check-box">
        <%= d.check_box %>
        <%= d.label %>
      </div>
      <% end %>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label "About yourself:" %><br>
    <%= f.text_area(:essay, cols: 60, rows: 3) %>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-12 form-group">
    <%= f.label "Upload your profile picture:" %><br>
    <input type="file" name="image" accept="image/*"><br>
    <input type="text" name="caption" placeholder="add caption">
  </div>
  <%= f.submit("Find Love!", class: "btn btn-info") %>
  <% end %>
</div>
