<div class="row">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
  <hr>
  <div class="col-md-3">
    <%= form_for @profile, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <%= f.label "Height (feet):" %>
        <%= f.select :height_feet, options_for_select(Choices['height_feet']), {}, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label "Height (inches):" %>
        <%= f.select :height_inches, options_for_select(Choices['height_inches']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Body Type:" %>
        <%= f.select :body_type, options_for_select(Choices['body_type']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Relationship Status:" %>
        <%= f.select :status, options_for_select(Choices['relationship_status']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Do you have kids?" %>
        <%= f.select :has_kids, options_for_select(Choices['has_kids']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Do you want kids?" %> <br>
        <%= f.select :wants_kids, options_for_select(Choices['wants_kids']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Highest level of education:" %>
        <%= f.select :education, options_for_select(Choices['education']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Are you a smoker?" %>
        <%= f.select :smoking, options_for_select(Choices['is_smoker']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Are you a drinker?" %>
        <%= f.select :drinking, options_for_select(Choices['is_drinker']), {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Current Salary:" %>
        <%= f.select :salary, options_for_select(Choices['salary_range']), {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
          <%= f.label "Ethnicity:" %><br />
          <%= f.collection_check_boxes :ethnicity_ids, Ethnicity.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
      </div>
      <div class="form-group">
        <%= f.label "Religion:" %><br />
        <%= f.collection_check_boxes :religion_ids, Religion.all, :id, :name do |c| %>
      <div class="collection-check-box">
        <%= c.check_box %>
        <%= c.label %>
      </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= f.label "Interests:" %><br />
        <%= f.collection_check_boxes :interest_ids, Interest.all, :id, :name do |d| %>
      <div class="collection-check-box">
        <%= d.check_box %>
        <%= d.label %>
      </div>
      <% end %>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6 form-group">
    <%= f.label "Are you looking for something specific?" %><br>
    <%= f.text_area(:specifications, cols: 40, rows: 3) %>
  </div>
  <div class="col-md-6 form-group float-right">
    <%= f.label "About yourself:" %><br>
    <%= f.text_area(:essay, cols: 40, rows: 3) %>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-12 form-group">
    <%= f.label "Upload your profile picture:" %><br>
    <%= f.file_field :image, class: "btn btn-secondary" %>
  </div>
  <%= f.submit("Find Love!", class: "btn btn-info") %>
  <% end %>
</div>
