<div class="row">
  <div class="col-md-3">
    <span class="sidebar-header">My Profile</span>


    <% if @picture %>
      <img src="<%=@picture.image_url(:profile)%>" alt="ppic.png">
    <% else %>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Add a picture to your profile!
        </a>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <form action="/images" method='post' enctype="multipart/form-data">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="file" name="image" accept="image/*">
          <input type="text" name="caption" placeholder="add caption">
          <input type="submit" value='upload'>
        </form>
      </div>
     </div>
    <%end%>
    <span class="sidebar-link">Views count</span>
    <span class="sidebar-link"><a href="/profiles/<%=session[:user_id]%>/edit">Edit Profile</a></span>
    <span class="sidebar-link"><a href="/preferences/<%=session[:user_id]%>/edit">Edit Preferences</a></span>
    <br>
    <span class="sidebar-header">Matches</span>
    <span class="sidebar-link"><a href="#">Daily Matches</a></span>
    <span class="sidebar-link"><a href="/matches" data-method="POST">Match Me</a></span>
    <br>
    <span class="sidebar-header">Messages</span>
    <span class="sidebar-link"><a href="/conversations">Inbox</a></span>
    <br>
    <span class="sidebar-header">Interests</span>
    <span class="sidebar-link"><a href="#">Viewed Me</a></span>
    <span class="sidebar-link"><a href="#">Winks</a></span>
    <span class="sidebar-link"><a href="#">Favorites</a></span>
    <span class="sidebar-link"><a href="#">Likes</a></span>
    <span class="sidebar-link"><a href="#">Phonebook</a></span>
  </div>


  <div class="col-md-5">
  <h3>testing here</h3>
    <div class="container">
      <div class="row">
        <% @users.each do |user|%>

        <div class="col-5" style="padding: 2px; margin: 2px; outline: 1px solid gray;" align="center">
          <a href="/users/<%=user.id%>"><%=user.first_name%></a><br>
          <b><i>Match score: 100%</i></b><br>
          <% if user.pictures.first %>
            <img src="<%=user.pictures.first.image_url(:tiny)%>" alt="ppic.png">
          <% else %>
            <br>No picture yet <br>
          <% end %>
          <% if user.loggedin == true %>
            <br>
            <%=user.first_name%> is online now!
            <br>
            <%= link_to "Chat live now!", "#", class:"start-conversation",
                                "data-sid" => current_user.id, "data-rip" => user.id %>
          <%else%>
            <br>
            <%=user.first_name%> was last logged in on <%=user.updated_at%>
            <br>
          <%end%>
        </div>
        <%end%>

      </div>
    </div>
  </div>

  <div class="col-md-4">
  <!-- chatbox -->
  </div>

</div>
