<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="col-md-4">
  <h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>

  <% if @profileimg %>
  <img src="<%=@profileimg.image_url(:profile)%>" alt="?.png">
  <%else%>
  <p>--- Profile Pic Here ----</p>
  <%end%>


  <% if flash[:error] %><br>
    <% flash[:error].each do |error| %>
      <i><h3><%=error%></h3></i>
    <%end%>
  <%end%>

  <% if @user.id != session[:user_id] %>
  <br>
    <% if @likeyet.empty? %>
      <a href="/likes/add/<%=@user.id%>"><button>Like <%=@user.first_name%>'s page</button></a>
    <%else%>
      <b><i>You like <%=@user.first_name%></i> - <a href="/likes/remove/<%=@likeyet[0].id%>">unlike</a></b>
    <%end%>
    <br>
    <% if @user.loggedin == true %>
      <%=@user.first_name%> is logged in right now!
      <br>
    <%else%>
      <%=@user.first_name%> was last logged in on <%=@user.updated_at%>
      <br>
    <%end%>
    <%= link_to "Send a message", new_personal_message_path(receiver_id: @user.id) %>
  <% end %>
  <br>
  <a href="/images/<%=session[:user_id]%>">Your pictures</a>
</div>

<a href="/profiles/<%= @user.id %>">View Your Profile</a>
