<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<a href="/">Return to Dashboard</a>
<hr>
<div class="col-md-4">
  <h4><%= "#{@user.first_name} #{@user.last_name}" %></h4>

  <% if @profileimg %>
  <img src="<%=@profileimg.image_url(:profile)%>" alt="?.png">
  <%else%>
  <p>--- Profile Pic Here ----</p>
  <%end%>


  <% if flash[:error] %><br>
    <% flash[:error].each do |error| %>
      <i><h3><%=error%></h3></i>
    <%end%>
  <%end%>

  <% if @user.id != session[:user_id] %>
  <br>
    <% if @likeyet.empty? %>
      <a href="/likes/add/<%=@user.id%>"><button type="button" class="btn btn-success">Like <%=@user.first_name%>'s page</button></a>
    <%else%>
      <b><i>You like <%=@user.first_name%></i> - <a href="/likes/remove/<%=@likeyet[0].id%>"><button type="button" class="btn btn-primary btn-sm">unlike</button></a></b>
    <%end%>
    <br>
    <% if @user.loggedin == true %>
      <%=@user.first_name%> is logged in right now!
      <br>
    <%else%>
      <%=@user.first_name%> was last logged in on <%=@user.updated_at%>
      <br>
    <%end%>
    <%= link_to "Send a message", new_personal_message_path(receiver_id: @user.id) %>
  <% end %>
  <br>
  <% if @user.id == session[:user_id] %>
    <a href="/images/<%=session[:user_id]%>">Your pictures</a>
  <% else %>
  <a href="/images/<%=@user.id%>"><%=@user.first_name%>'s pictures</a>
  <%end%>
</div>

<hr>

<h4>Your Profile</h4>
<hr>

<h5>Height: <%= @profile.height_feet%>'<%= @profile.height_inches%>"</h5>
<h5>Body Type: <%= @profile.body_type%></h5>
<h5>Relationship Status: <%= @profile.status%></h5>
<h5>Have Kids?: <%= @profile.has_kids%></h5>
<h5>Want Kids?: <%= @profile.wants_kids%></h5>
<h5>Education: <%= @profile.education%></h5>
<h5>Smoker?: <%= @profile.smoking%></h5>
<h5>Drinker?: <%= @profile.drinking%></h5>
<h5>Ethnicity: </h5>
<% @profile.ethnicities.each do |e| %>
  <h5> -- <%= e.name %></h5>
<% end %>
<h5>Religions:</h5>
<% @profile.religions.each do |r| %>
    <h5> ** <%= r.name %></h5>
<% end %>
<h5>Current Salary Range: Around <%= @profile.salary%> per year</h5>
<h5>Interests: </h5>
<% @profile.interests.each do |i| %>
  <h5> + <%= i.name %></h5>
<% end %>
<h5>Specifications: <%= @profile.specifications%></h5>
<h5>Essay: <%= @profile.essay%></h5>

<hr>
<% if @user.id == session[:user_id] %>
  <a href="/profiles/<%= @user.id %>/edit">Edit Your Profile</a>
<% end %>
