<h1>Your Preferences</h1>

<hr>

<h5>Height: From <%= height_to_string(@preferences.min_height%>) to height_to_string(<%= @preferences.max_height%>)</h5>
<h5>Age: From <%= @preferences.min_age%> to <%= @preferences.max_age %></h5>
<h5>Gender: <%= @preferences.gender %></h5>
<h5>Body Type: <%= @preferences.body_type%></h5>
<h5>Relationship Status: <%= @preferences.status%></h5>
<h5>Have Kids?: <%= @preferences.has_kids%></h5>
<h5>Want Kids?: <%= @preferences.wants_kids%></h5>
<h5>Education: <%= @preferences.education%></h5>
<h5>Smoker?: <%= @preferences.smoking%></h5>
<h5>Drinker?: <%= @preferences.drinking%></h5>
<h5>Ethnicity: </h5>
<% @preferences.ethnicities.each do |e| %>
  <h5> -- <%= e.name %></h5>
<% end %>
<h5>Religions:</h5>
<% @preferences.religions.each do |r| %>
    <h5> ** <%= r.name %></h5>
<% end %>
<h5>Current Salary Range: Around <%= @preferences.salary%> per year</h5>
<h5>Interests: </h5>
<% @preferences.interests.each do |i| %>
  <h5> + <%= i.name %></h5>
<% end %>

<hr>
<a href="/preferences/<%= @preferences.user_id %>/edit">Edit Your Preferences</a>
