<div class="container">
  <div class="col-md-12">
    <h4>You might be interested in...</h4>
      <% if @match.empty? %>
      <center>
        <i><h5>No other matches... Check your main match page!</h5></i>
      </center>
      <%end%>
      <%@match.each do |match|%>
        <% @users.each do |user|%>
          <% if user.id != session[:user_id] && user.id == match.match_two_id %>
            <div class="match-profile" align="center">
              <% if user.pictures.first %>
                <img src="<%=user.pictures.first.image_url(:tiny)%>" height="150" width="150" alt="ppic.png"></br>
              <% else %>
                <%= image_tag("default.jpeg") %></br>
              <% end %>
              <a href="/users/<%=user.id%>"><%=user.first_name%></a><br>
              <%= user.zip_code.to_s.to_region %></br>
              Match score: <strong><%=match.score%>%</strong>
              <% if user.loggedin == true %>
                <a href="#" class="btn btn-success btn-sm disabled" role="button" aria-disabled="true">Online</a>
                <%= link_to "Chat live now!", "#", class:"start-conversation", "data-sid" => current_user.id, "data-rip" => user.id %>
              <%else%>
                <br>
                <%= link_to "Send a message", new_personal_message_path(receiver_id: user.id) %></br>
                <span id="online-status">Last logged on: <strong><%= distance_of_time_in_words(user.updated_at, @time_now) %> ago</strong></span>
                <br>
              <%end%>
            </div>
          <%end%>
        <%end%>
      <%end%>

    </div>

</div>
