<div class="col-md-4">
<br><br>

  <h3>Pictures of <%=@person.first_name%></h3>

  <% @images.each do |img|%>

    <img src="<%=img.image_url(:thumb)%>" alt="logo.png">
    <br>
    <b><i><p style="margin-left: 65px;">"<%= img.caption %>"</p></i></b>

    <br><br>

<!--     <br>
<img src="<%=img.image_url(:tiny)%>" alt="logo.png">
<br>
<img src="<%=img.image_url(:profile)%>" alt="logo.png"> -->

  <%end%>


  <% if flash[:message] %>
    <% flash[:message].each do |msg| %>
      <p><h3><i><%=msg%></h3></i></p>
    <%end%>
  <%end%>



<br><br>

  <p>Add a new image to your profile</p>


  <form action="/images" method='post' enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="file" name="image" accept="image/*">
    <input type="text" name="caption" placeholder="add caption">
    <br>
    <input type="submit" value='upload'>
  </form>

</div>
