<div class="col-md-4">
<br>
  <h3>Pictures of <%=@person.first_name%></h3>
<br>
  <% @images.each do |img|%>

    <div class="row">
      <img src="<%=img.image_url(:thumb)%>" alt="logo.png">
    </div>
      <% if session[:user_id] == img[:user_id] %>
        <div class="row">
          <a href="/images/destroy/<%=img[:id]%>">delete</a>
        </div>
      <% end %>
    <div class="row">
      <b><i><p align="center">"<%= img.caption %>"</p></i></b>
    </div>
    <br>
  <%end%>

<% if session[:user_id] == @person.id %>

  <% if flash[:message] %>
    <% flash[:message].each do |msg| %>
      <p><h3><i><%=msg%></h3></i></p>
    <%end%>
  <%end%>

<br><br>

  <p>Add a new image to your profile</p>

  <form action="/images" method='post' enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="file" name="image" accept="image/*">
    <input type="text" name="caption" placeholder="add caption">
    <br>
    <input type="submit" value='upload'>
  </form>

<%end%>
</div>
