<div class="col-md-4">
  <h4>Upload a new picture</h4>
  <!-- <% @images.each do |img|%>
    <div class="row">
      <img src="<%=img.image_url(:thumb)%>" alt="logo.png">
    </div>
      <% if session[:user_id] == img[:user_id] %>
        <div class="row">
          <a href="/images/destroy/<%=img[:id]%>">delete</a>
        </div>
      <% end %>
    <div class="row">
      <b><i><p align="center">"<%= img.caption %>"</p></i></b>
    </div>
  <%end%> -->

<% if session[:user_id] == @person.id %>
  <% if flash[:notice] %>
    <p class="text-danger"><%= flash[:notice] %></p>
  <% end %>
  <form action="/images" method='post' enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="file" name="image" accept="image/*" class="form-control"></br>
    <!-- <input type="text" name="caption" placeholder="add caption"> -->
    <input type="submit" value='Upload' class="btn btn-outline-info float-right">
  </form>

<%end%>
</div>
